*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.app{
  margin: 200px;
  background-color: white;
  text-align: center;
}
button{
  margin: 20px;
  padding: 20px;
  background-color: red;
  color: white;
  border: 5px solid yellow;
  border-radius: 50px;
}